{% extends "skeletons/page.html" %}

{% load extras crispy_forms_tags %}

{% block page_title %}Edit UBG-16 Parameters{% endblock %}

{% block body_id %}ubg16-edit-page{% endblock %}

{% block content %}

    <p>You can select one of the typical configurations as a starting point, and then edit the individual fields to
        match your exact aircraft configuration.</p>
    <p>Any changes you make here will only affect <strong>future</strong>uploads.</p>
    <br/>


    <form class="crispy">
    <div>
        <a id="typical_single">Typical Single</a> | <a id="typical_twin">Typical Twin</a>
    </div>

    <div class="control-group"><label for="id_field00" class="control-label ">
        Series 1 (not configurable):
    </label>
        <div class="controls"><select class="select" id="id_field00" name="field00" disabled="disabled">
            <option value="None">Date/Time</option>
        </select></div>
    </div>

    <div class="control-group"><label for="id_field00" class="control-label ">
        Series 2 (not configurable):
    </label>
        <div class="controls"><select class="select" id="id_field00" name="field00" disabled="disabled">
            <option value="None">ON/OFF</option>
        </select></div>
    </div>
    </form>

    {% crispy form %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#typical_single').click(function () {
                $('#ubg16_edit_form select').val('None');
                $('#id_field00').val('EGT1');
                $('#id_field01').val('CHT1');
                $('#id_field02').val('EGT2');
                $('#id_field03').val('CHT2');
                $('#id_field04').val('EGT3');
                $('#id_field05').val('CHT3');
                $('#id_field06').val('EGT4');
                $('#id_field07').val('CHT4');
                $('#id_field08').val('EGT5');
                $('#id_field09').val('CHT5');
                $('#id_field10').val('EGT6');
                $('#id_field11').val('CHT6');

            });
            $('#typical_twin').click(function () {
                $('#ubg16_edit_form select').val('None');

                $('#id_field00').val('L-EGT1');
                $('#id_field01').val('L-CHT1');
                $('#id_field02').val('L-EGT2');
                $('#id_field03').val('L-CHT2');
                $('#id_field04').val('L-EGT3');
                $('#id_field05').val('L-CHT3');
                $('#id_field06').val('L-EGT4');
                $('#id_field07').val('L-CHT4');
                $('#id_field08').val('L-EGT5');
                $('#id_field09').val('L-CHT5');
                $('#id_field10').val('L-EGT6');
                $('#id_field11').val('L-CHT6');

                $('#id_field16').val('R-EGT1');
                $('#id_field17').val('R-CHT1');
                $('#id_field18').val('R-EGT2');
                $('#id_field19').val('R-CHT2');
                $('#id_field20').val('R-EGT3');
                $('#id_field21').val('R-CHT3');
                $('#id_field22').val('R-EGT4');
                $('#id_field23').val('R-CHT4');
                $('#id_field24').val('R-EGT5');
                $('#id_field25').val('R-CHT5');
                $('#id_field26').val('R-EGT6');
                $('#id_field27').val('R-CHT6');

            });
        });
    </script>
{% endblock %}