{% extends "skeletons/page.html" %}


{% block page_title %}Search Files{% endblock %}

{% block body_id %}analyst-file-list-page{% endblock %}

{% block content %}

    <form id="id_form" class="crispy left-aligned" method="POST"> {% csrf_token %}
        <div class="control-group">
            <label for="id_filename" class="control-label">Filename: </label>
            <div class="controls">
                <input id="id_filename" type="text" name="filename"/>
            </div>
        </div>
        <input class="button" id="id_search" type="submit" value="Search"/>
    </form>

    <div id="result" width="100%"></div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#id_form").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/analyst/file_search/',
                    data: $("#id_form").serialize(),
                    success: function (data) {
                        $("#result").html(data);
                        $(".actions-menu").hide();
                        $('#analyst-file-table').DataTable({
                            'searching': false,
                            'order': [1],
                             'columnDefs': [{
                                    className: 'control',
                                    orderable: false,
                                    targets: 0
                                }]
                        });
                        tableClickableRows();
                        tableDropDownMenu();
                    },
                    beforeSend: function (xhr) {
                        $("#result").html("<div class='center'><h2>Searching...</h2><div class='wait-indicator'></div></div>");
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}